div {
    position: fixed;
    border-radius: 15px;
    color: black;
    font-family: 'lato';
}

body {
    background: url("./background_pixel.png");
}

#animation {
    right: 200px;
    bottom: 220px;
    height: 150x;
    width: 150px;
    background: url("./bunny_pixel.png") no-repeat center;
    background-size: 100% auto;
}

#textOutputBox {
    top: 5px;
    left: 50px;
    width: 400px;
    height: 530px;
    border: 2px solid white;
    border-bottom: 0px;
     /* RGBa with 0.6 opacity */
    background-color: rgba(255, 255, 255, 0.2);
    
}

#textOutput {
    top: 5px;
    left: 80px;
    width: 350px;
    height: 570px;
    border-bottom: 0px;
}

#bubble {
    -webkit-animation-delay: 2s;
    right: 20px;
    top: 20px;
    width: 300px;
    height: 300px;
    background: url("./thinkingBubble_pixel.png") no-repeat center;
    background-size: 100% auto;
}

#hat {
    -webkit-animation-duration: 1s;
    left: 100px;
    bottom: 150px;
    float: left;
    width: 300px;
    height: 300px;
    background: url("./hat_pixel.png") no-repeat center;
    background-size: 100% auto;
}

#textInputBox {
    bottom: 5px;
    left: 5px;
    width: 935px;
    height: 100px;
    border: 2px solid lightgrey;
    background-color: rgba(255, 255, 255, 0.2);
}

#textInput {
    left: 20px;
    height: 50px;
    width: 800px;
}