div {
    position: fixed;
    border-radius: 15px;
    color: black;
    font-family: 'lato';
}

#animation {
    z-index: 999;
    right: 200px;
    bottom: 220px;
    height: 200x;
    width: 200px;
    background: url("./bunny.png") no-repeat center;
    background-size: 100% auto;
}

#textOutputBox {
    top: 5px;
    left: 50px;
    width: 400px;
    height: 570px;
    border: 2px solid lightgrey;
    border-bottom: 0px;
}

#textOutput {
    top: 5px;
    left: 80px;
    width: 350px;
    height: 570px;
    border-bottom: 0px;
}

#bubble {
    -webkit-animation-delay: 2s;
    right: 20px;
    top: 20px;
    width: 400px;
    height: 400px;
    background: url("./thinkingBubble.png") no-repeat center;
    background-size: 100% auto;
}

#hat {
    -webkit-animation-duration: 1s;
    left: 100px;
    bottom: 100px;
    float: left;
    width: 300px;
    height: 300px;
    background: url("./hat.png") no-repeat center;
    background-size: 100% auto;
}

#textInputBox {
    bottom: 5px;
    left: 5px;
    width: 935px;
    height: 100px;
    border: 2px solid lightgrey;
}

#textInput {
    left: 20px;
    height: 50px;
    width: 800px;
}